.pags
    nav.pags
      ul.pags.pagination
        if pagination.currentPage <= 1
            li.disabled
                a #{__('Anterior')}
        else
            li
                a(href='?page='+(pagination.currentPage-1)) #{__('Anterior')}

        li.active
            a #{pagination.currentPage} / #{pagination.totalPages}

        if pagination.currentPage >= pagination.totalPages
            li.disabled
                a #{__('Siguiente')}
        else
            li
                a(href='?page='+(pagination.currentPage+1)) #{__('Siguiente')}
